.textmain{
    text-decoration: none !important;
}

body{
    background-color: rgb(129, 137, 129);
}
.maintext{
   
    font-family: cursive;
 
 }
 .maintext2{

    font-family: monospace;
 }